body {
  background-color: #1f2123;
  width: 100vw;
}
.container {
  width: clamp(200px, 90vw, 1200px);
  display: flex;
  align-items: flex-start;
  /* border: 1px solid #f00; */
  /* justify-content: center; */
}

#sections {
  /* position: relative; */
  /* display: inline-block; */
  flex: 1;
  width: 300px;
  top: 0px;
  /* z-index: 90; */
  padding-bottom: 200px;
  color: #f1f3f4;
}

#sections .title {
  font-family: Arial, Helvetica, "sans-serif";
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  /* color: #262626; */
  line-height: 1.2em;
}

#extra-space {
  height: 300px;
}

#charts {
  /* display: block; */
  flex: 3;
  /* flex-grow: 2; */
  position: sticky;
  /* right: 0px; */
  top: 50%;
  transform: translateY(-50%);
  /* border: 1px solid #f00; */
  height: fit-content;
  max-height: 100vh;
  /* z-index: 10000; */
  /* margin-left: 100px; */
  /* width: 50%; */
  /* width: 100px; */
  /* flex: 1; */
  /* width: 60vh; */
  /* max-height: 80vh; */
  /* background-color: #ddd; */
}

#charts .title {
  font-size: 120px;
  text-anchor: middle;
}

#charts .sub-title {
  font-size: 80px;
  text-anchor: middle;
}

#chart-sunburst {
  /* width: 100%;
  height: 100%; */
}

.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}

.highlight {
  fill: #008080;
  font-weight: bold;
}

.cough-arrow {
  stroke: #000;
  stroke-width: 4px;
}

#sections > section {
  margin-bottom: 200px;
}

.animate-on-scroll {
  opacity: 0;
  /* transform: translateX(20px); */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.visible {
  opacity: 1;
  /* transform: translateX(0); */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .text-container,
  .chart-container {
    position: relative;
    width: 100%;
    top: auto;
    transform: none;
  }
}
